body {
  background: #151618; /* gris oscuro */
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #2E3B5E; /* azul más brillante que el anterior */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar h1 {
  color: #AA9158; /* dorado */
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #AA9158; /* dorado */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: white;
}

.seccion {
  max-width: 800px;
  margin: 2rem auto;
  background: #2E3B5E; /* azul */
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
  color: white;
}

.seccion h2 {
  color: #AA9158; /* dorado */
  border-bottom: 2px solid #AA9158;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.proyecto {
  background: #2E3B5E; /* azul */
  color: white;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

.proyecto a {
  color: #AA9158; /* dorado */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.proyecto a:hover {
  color: white;
}

.repositorio {
  max-width: 800px;
  margin: 2rem auto;
}
