body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #38393B;   /* Fondo gris oscuro */
  color: white;          /* Texto blanco */
}

header {
  background: #263959; /* Azul oscuro */
  color: white;
  padding: 1rem;
  text-align: center;
}

.proyecto {
  background: #263959;  /* Fondo azul oscuro para destacar */
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); /* sombra oscura */
  color: white;
}

.seccion {
  max-width: 800px;
  margin: 2rem auto;
  background: #263959; /* Azul oscuro */
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.7);
  color: white;
}

.seccion h2 {
  color: #B69D62;               /* Dorado para títulos */
  border-bottom: 2px solid #B69D62; /* Dorado */
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #263959; /* Azul oscuro */
  color: white;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #B69D62; /* Dorado */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: white;
}

.repositorio {
  max-width: 800px;
  margin: 2rem auto;
}
