body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9; /* Fondo claro */
  color: #38393B;      /* Texto gris oscuro */
}

header {
  background: #263959; /* Azul oscuro */
  color: white;
  padding: 1rem;
  text-align: center;
}

.proyecto {
  background: white;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(38, 57, 89, 0.1); /* sombra azul suave */
}

.seccion {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(38, 57, 89, 0.1); /* sombra azul suave */
}

.seccion h2 {
  color: #263959;               /* Azul oscuro */
  border-bottom: 2px solid #B69D62; /* Dorado */
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #263959; /* Azul oscuro */
  color: white;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #B69D62; /* Dorado */
}

.repositorio {
  max-width: 800px;
  margin: 2rem auto;
}
